@import '@fontsource/nunito-sans/400.css'; /* Regular weight for body */
@import '@fontsource/nunito-sans/700.css'; /* Bold weight for body */
@import '@fontsource/lora/700.css';       /* Bold weight for headings */

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    'Nunito Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif:
    'Lora', Georgia, Cambria, 'Times New Roman', Times, serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  /* Apply the body font by default */
  body {
    font-family: theme(fontFamily.sans);
  }

  /* Apply the heading font to all heading elements */
  h1, h2, h3, h4, h5, h6 {
    font-family: theme(fontFamily.serif);
  }


  /*Tailwind v3 compatibility styles for border color.*/
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply w-full bg-[#013c87] text-white font-bold text-lg px-8 py-3 rounded-lg hover:bg-[#004ba9] transition-colors duration-300 shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#004ba9];
  }
}

.highlight { color: #332e76; }