---
import Container from "@/components/container.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <Container>
    <div class="py-10">
      <div class="text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Privacy Policy</h1>
        <p class="text-left text-lg mt-4 text-slate-600">Guiding Hearts Helping Hands LCSW, PLLC is committed to quality and effective therapeutic services serving New York. Guiding Hearts Helping Hands LCSW, PLLC specializes in therapy and consulting for advanced or serious illness, caregiving, life transitions, bereavement and follows HIPAA Privacy laws for all clients. Content copyrighted 2025. All rights reserved.</p>
        <p class="text-left text-lg mt-4 text-slate-600">Internet Disclaimer: No information found on this website serves as a substitute for professional psychological, psychiatric or medical advice, diagnosis, or treatment. Guiding Hearts Helping Hands LCSW, PLLC and its employees assume no liability for any diagnosis, treatment, decision made or action taken in reliance upon information contained in this website or any other pages.</p>
      </div>
    </div>
  </Container>
</Layout>
