---
import { Picture } from "astro:assets";
import logoImage from "@/assets/GuidingHeartsLogo.png";

---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={logoImage}
      alt="Guiding Hearts Helping Hands Logo"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  
  <div class="text-center md:text-left">
    <h1 class="font-serif text-4xl md:text-5xl lg:text-6xl text-[#393836] font-bold leading-tight mb-6">
      Compassionate Support for Life’s Most Difficult Times
    </h1>
    <p class="text-lg text-[#575654] leading-relaxed mb-8">
      Whether you're living with serious illness, navigating grief, caregiving for a loved one, or facing the challenges of aging, you don’t have to do it alone. We’re here to provide thoughtful, personalized support with warmth, respect, and expertise.
    </p>
    <p class="text-lg text-[#575654] leading-relaxed mb-10">
        Let us help you find strength, meaning, and connection—no matter where you are on your journey.
    </p>
    <a href="/contact" class="inline-block bg-[#004ba8] text-white font-bold text-lg px-8 py-4 rounded-lg hover:bg-[#0062db] transition-colors duration-300 shadow-md">
      Schedule a Free Consultation
    </a>
  </div>
</main>
